body{
    width: 1000px;
    text-align: justify;
    background-color: aqua;
    margin: auto;
}

header{
    background-color: green;
    height: 100px;
    text-align: center;
    
}

#szöveg{
    width: 700px;
    text-align: center;
    background-color: azure;
    text-align: justify;
}

.tablazat{
    border-style: double black;
}

#lista{
    background-color: yellow;
    text-align: center;
    list-style-type: upper-alpha;
    padding: 15px;
    margin: 15px;
}

.tablazat{
    width: 300px;
    margin: 0 auto;
    border-style: double;
}

td{
    border: black;
}

.jobb{
    text-align: center;
    width: 120px;
    border: black;
}

#elso{
    background-color: rgb(127, 130, 217);
}
#masodik{
    background-color: rgb(197, 90, 165);
}
#harmadik{
    background-color: rgb(151, 67, 67);
}
#negyedik{
    background-color: rgb(58, 195, 143);
}